html
    head
        title Static Middleware
    body
        img(src="static/test_image.png", alt="Image not found")
        br
        a(href='static/blank.pdf', alt="PDF file not found") Download PDF file from here!!